In [5]:
import sqlite3
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
import yfinance as yf
from datetime import datetime

import os

def GetRendement(x):
    #conn = sqlite3.connect('DatabaseVB.db')
    engine = create_engine('sqlite:///DatabaseVB.db')
    ### Lees POSRECON in en sla deze op in de database
    #df = pd.read_csv('Input/Posrecon.csv', parse_dates = True)#
    #df.to_sql('BalansDB', if_exists = "replace", con = conn)
    
    df_posrecon = pd.read_sql(f'''SELECT "Datum", ROUND(sum("Waarde EUR"),2) as "Eind Waarde" 
                      FROM "Posrecon" where "RekNr" = "{x}" group by "Datum" order by "Datum"''', con = engine).set_index('Datum')

    ### Lees TRADERECON in en sla deze op in de database
    # df_traderecon = pd.read_csv('Input/Traderecon.csv', parse_dates = True, )#decimal = ','
    # df_traderecon.to_sql('BalansTraderecon', if_exists = 'replace' , con = conn)
    
    ### LEES UIT DE DATABASE DE SOM VAN DE ONTTREKKINGEN / OVERBOEKINGEN / LICHTINGEN / STORTINGEN VOOR REKNR X
    df_onttrekking = pd.read_sql(f''' Select Datum, sum("Aantal") as "Onttrekkingen" from Traderecon
                       where RekNr = "{x}" and "Unnamed: 34" = 5025 OR "Unnamed: 34" = 5000 group by "Datum" ''', con = engine).set_index('Datum')

    df_stortingen = pd.read_sql(f''' Select Datum, sum("Aantal") as "Stortingen" from Traderecon
                       where RekNr = "{x}"  and "Unnamed: 34" = 5026 group by "Datum" ''', con = engine).set_index('Datum')

    df_lichtingen = pd.read_sql(f''' Select Datum, sum("Aantal") as "Lichtingen" from Traderecon
                        where RekNr = "{x}" and "Type" = "L" group by "Datum" ''', con = engine).set_index('Datum')

    df_deponeringen = pd.read_sql(f''' Select Datum, sum("Aantal") as "Deponeringen" from Traderecon
                        where RekNr = "{x}" and "Type" = "D" group by "Datum" ''', con = engine).set_index('Datum')
    
    # Concat de 4 dataframes uit de Traderecon query in 1 dataframe en merge deze met de Posrecon dataframe
    traderecon_data = [df_onttrekking, df_stortingen, df_lichtingen, df_deponeringen]
    df_tot_tr = pd.concat(traderecon_data)
    df_final = df_posrecon.merge(df_tot_tr, on='Datum', how='left')
    
    ### VOEG DE OVERBOEKINGEN AAN DE DATAFRAME MET DE WAARDES PORTEFEUILLE
    traderecon_columns = ['Onttrekkingen','Stortingen', 'Lichtingen','Deponeringen']
    df_final[traderecon_columns] = df_final[traderecon_columns].fillna(0.0)
    
    ### MAAK KOLOM ACTUELE RENDEMENT EN BEREKEN RENDEMENT VAN WAARDE PORTEFEUILLE EN ONTTREKKINGEN / STORTINGEN
    df_final['Start Waarde'] = df_final["Eind Waarde"].shift(1)
    df_final['Dag Rendement'] = ((df_final['Eind Waarde'] - df_final['Start Waarde'] - df_final['Stortingen'] - df_final['Deponeringen'] + df_final['Onttrekkingen'] + df_final['Lichtingen'] ) ) / (df_final['Start Waarde'] + df_final['Stortingen'] - df_final['Onttrekkingen']).round(5)
    df_final['Portfolio Cumulatief Rendement'] = (1 + df_final['Dag Rendement']).cumprod()
    #df_final['Eind Waarde'] =  pd.to_numeric(df_final['Eind Waarde'], downcast = 'float')
    columns = ['Start Waarde','Stortingen','Deponeringen', 'Onttrekkingen', 'Lichtingen', 'Eind Waarde', 'Dag Rendement', 'Portfolio Cumulatief Rendement']
    
    return df_final[columns]

def getBenchmarkData(bench):
    conn = sqlite3.connect('DatabaseVB.db')
    engine = create_engine('sqlite:///DatabaseVB.db')
    ticker = yf.Ticker(bench)

    df_benchmark = ticker.history(period = 'max')
    df_benchmark.reset_index(inplace = True)
    df_benchmark.rename(columns = {'Date':'Datum', 'Close': f'{bench} Eind Waarde'}, inplace = True)
    df_benchmark.to_sql(f'{bench}', if_exists = 'replace', con = conn)

    df = pd.read_sql(f'''
        SELECT substr(Datum, 1, 10) as "Datum", "{bench} Eind Waarde" FROM "{bench}"
    ''', con = engine).set_index("Datum")
    return df

In [6]:
def ZoekGraph(data, benchmark, ticker, start_date, end_date):
    benchmark['Benchmark Dag Rendement'] = benchmark[f'{ticker} Eind Waarde'].pct_change(4)

    df_port_bench = data.merge(benchmark, on='Datum', how='left')

    df_port_bench['Benchmark Cumulatief Rendement'] = (1 + df_port_bench['Benchmark Dag Rendement']).cumprod()
    df_port_bench['Benchmark Cumulatief Rendement'].fillna(method='ffill', inplace = True)
    df_base = df_port_bench[['Portfolio Cumulatief Rendement', 'Benchmark Cumulatief Rendement']]

    df = df_base.loc[start_date:end_date]

#     dfn = df.reset_index().melt('Datum')
#     dfn1 = alt.Chart(dfn).mark_line().encode(
#         x = ('Datum:T'),
#         y = ('value:Q'),
#         color='variable:N').properties(
#             height=500,
#             width=750).interactive()

#     graph = st.altair_chart(dfn1) 

    return df

In [10]:
rek = GetRendement(503)

In [8]:
aex = getBenchmarkData("^AEX")

c:\users\ismet\appdata\local\programs\python\python38-32\lib\site-packages\pandas\core\generic.py:2602: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [44]:
aexdf = aex.loc['2020-01-05':'2020-09-01']
aexdf

            ^AEX Eind Waarde
Datum
2020-01-06            607.24
2020-01-07            609.71
2020-01-08            610.48
2020-01-09            612.55
2020-01-10            610.43
...                      ...
2020-08-26            566.23
2020-08-27            562.41
2020-08-28            556.80
2020-08-31            549.20
2020-09-01            552.22

[169 rows x 1 columns]

In [55]:
aexdf['Start waarde'] = aexdf['^AEX Eind Waarde'].shift(1)

<ipython-input-55-880ece8f87a2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aexdf['Start waarde'] = aexdf['^AEX Eind Waarde'].shift(1)

In [60]:
aexdf['Dag Rendement'] = (aexdf['^AEX Eind Waarde'] - aexdf['Start waarde']) / aexdf['Start waarde']

<ipython-input-60-e8c2ee0f8bb5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aexdf['Dag Rendement'] = (aexdf['^AEX Eind Waarde'] - aexdf['Start waarde']) / aexdf['Start waarde']

In [61]:
aexdf

            ^AEX Eind Waarde  Start waarde  Dag Rendement
Datum
2020-01-06            607.24           NaN            NaN
2020-01-07            609.71        607.24       0.004068
2020-01-08            610.48        609.71       0.001263
2020-01-09            612.55        610.48       0.003391
2020-01-10            610.43        612.55      -0.003461
...                      ...           ...            ...
2020-08-26            566.23        559.81       0.011468
2020-08-27            562.41        566.23      -0.006746
2020-08-28            556.80        562.41      -0.009975
2020-08-31            549.20        556.80      -0.013649
2020-09-01            552.22        549.20       0.005499

[169 rows x 3 columns]

In [62]:
aexdf['Cum Rendement'] = (1 + aexdf['Dag Rendement']).cumprod()

<ipython-input-62-a064219b9b98>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aexdf['Cum Rendement'] = (1 + aexdf['Dag Rendement']).cumprod()

In [63]:
aexdf

            ^AEX Eind Waarde  Start waarde  Dag Rendement  Cum Rendement
Datum
2020-01-06            607.24           NaN            NaN            NaN
2020-01-07            609.71        607.24       0.004068       1.004068
2020-01-08            610.48        609.71       0.001263       1.005336
2020-01-09            612.55        610.48       0.003391       1.008744
2020-01-10            610.43        612.55      -0.003461       1.005253
...                      ...           ...            ...            ...
2020-08-26            566.23        559.81       0.011468       0.932465
2020-08-27            562.41        566.23      -0.006746       0.926174
2020-08-28            556.80        562.41      -0.009975       0.916936
2020-08-31            549.20        556.80      -0.013649       0.904420
2020-09-01            552.22        549.20       0.005499       0.909393

[169 rows x 4 columns]

In [64]:
aexdf.to_csv('./test.csv', decimal = ",")